RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^apartemen\.febuharyanto\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.apartemen\.febuharyanto\.com$
RewriteRule ^/?$ "http\:\/\/febuharyanto\.com\/apartemen" [R=301,L]

